ion-avatar,
ion-avatar {
    border-radius:50%;
    height:7rem;
    width:7rem;
    margin: auto;
    padding:1px;
}

.ion-item{
    position: relative;
    height: 100px;
    width: 100px;
    margin: auto;
  }
  
  .ion-avatar{
    border-radius: 50%;
    height: 100%;
    width: 100%;
    margin: auto;
  }
  
  .buttonCustom{
    position: absolute;
    right: -5px;
    bottom: -5px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: cyan;
    box-shadow: 0 0 4px 3px #ccc;
    color: white;
  }