.page{
    --ion-background-color:#F6F6F6;
}

.item-card{
    --ion-background-color:#ffffff;
 }

 .btn_gray{
     --background:#C8C8C8;
 }
.btn_white{
    --background: #ffffff;
}
ion-avatar,
ion-avatar {
    border-radius:50%;
    height:4rem;
    width:4rem;
    padding:1px;
}