<ion-header transparent no-border>
    <ion-row>
      <ion-col size="4">
      </ion-col>
      <ion-col size="4" style="text-align: center;">
          <p style="font-size:11pt !important;font-weight: bold;">
              LOGIN
            </p>
          </ion-col>
          <ion-col size="4">
          </ion-col>
        </ion-row>
</ion-header>
  

<ion-content>

  <ion-list padding style="margin:20% 5% 10% 5%;">
  
  <form [formGroup]="registerForm">
    <ion-item>
      <ion-input placeholder="Email" type="text"  formControlName="email"></ion-input>
    </ion-item>
    <ion-list>
      <ion-item>
        <ion-input placeholder="Password" maxlength="30" [type]="passwordType" formControlName="password"></ion-input>
        <ion-icon slot="end" [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
      </ion-item>
    </ion-list>
    <ion-item lines="none" style="margin-top: -8px;">
      <p slot="end" (click)="lupa()" style="font-size:8pt;">Lupa Kata Sandi?</p>
    </ion-item>
  </form>
  
  </ion-list>

  <ion-row>
    <ion-col size="2">
    </ion-col>
    <ion-col style="text-align: center">
      <ion-button (click)="login()" shape="round" expand="full" color="secondary">MASUK</ion-button>
    </ion-col>
    <ion-col size="2">
    </ion-col>
  </ion-row>

  <div style="text-align: center;">
    <p style="font-size:8pt;">Belum memiliki akun ? <ion-text color="secondary" (click)="daftar()"><B>Daftar</B></ion-text>
    </p>
  </div>

  <br>

  <p style="font-size: 8pt;color: #E5E5E5;text-align: center !important;">
    atau masuk dengan
  </p>

  <br>

  <ion-row>
    <ion-col size="2"></ion-col>
    <ion-col size="4" style="text-align: center">
      <ion-button shape="round" Color="light" expand="full" style="text-transform: none;" (click)="loginGoogle()"> <img
          width="40%" height="auto" style="padding-right: 5px;"
          src="http://pluspng.com/img-png/google-logo-png-open-2000.png" alt="">
        Google</ion-button>
    </ion-col>
    <ion-col size="4" style="text-align: center">
      <ion-button shape="round" Color="primary" expand="full" style="text-transform: none;" (click)="loginFacebook()">
        <img width="25%" height="auto" style="padding-right: 5px;"
          src="https://www.seekpng.com/png/full/130-1304311_white-facebook-logo-transparent-home-facebook-f-white.png"
          alt="">Facebook</ion-button>
    </ion-col>
    <ion-col size="2"></ion-col>
  </ion-row>

</ion-content>