.page{
    --ion-background-color:#F6F6F6;
}
.item-card{
    --ion-background-color:#ffffff;
 }
 .item-card2{
    --ion-background-color:#1EBFCF;
 }
.button2{
    --background:linear-gradient(to right, #01ffff , #1EBFCF);
}