<ion-header transparent no-border>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <p style="font-size:11pt !important;font-weight: bold;">
        Data Transaksi
      </p>
    </ion-buttons>
  </ion-header>

<ion-content>
    <ion-card>
       <ion-list>
         <ion-item>
           <ion-label>
             <p>Tanggal Transaksi </p>
             <p>Order Id</p>
             <p>Status Pembayaran </p>
             <p>Total Pembayaran  </p>
             <p>Jenis Pembayaran  </p>
            
           </ion-label>
           <ion-label>
            <p>: {{this.data.created_at}}</p>
            <p>: {{this.data.id}}</p>
            <p style="color:cyan" *ngIf="this.data.status == 'settlement' ">: Settlement</p>
            <p style="color:lightblue" *ngIf="this.data.status == 'pending' ">: Pending</p>
            <p *ngIf="this.data.status == null ">: Belum Dibayar</p>
            <p style="color:red" *ngIf="this.data.status == 'failed' ">: Failed</p>
            <p>: {{this.data.jumlah_bayar | currency:'Rp.':true:'1.2-2'}}</p>
            <p *ngIf="this.data.jenis_pembayaran == 'bank_transfer' ">: Bank Transfer</p>
            <p *ngIf="this.data.jenis_pembayaran != 'bank_transfer' ">: Bank Transfer</p>
           </ion-label>
         </ion-item>
       </ion-list>
      </ion-card>
</ion-content>
