.page{
    --ion-background-color:#F6F6F6;
}
.card{
    --color:#ffffff;
}
.item-card{

    --ion-background-color:#ffffff;
 }

.button{
    --background:#1EBFCF;
}
.btn_konfirmasi{
    --background:rgb(30, 77, 207);
}
.btn_back{
    --background: #ffffff;
}
ion-avatar,
ion-avatar {
    border-radius:50%;
    height:4rem;
    width:4rem;
    padding:1px;
}